@using Webthanhtamstore.Models;
@model List<GioHang>

<link href="~/Content/NguoiDungCssLayout/TableGioHang.css" rel="stylesheet" />
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<style>
    .activity {
        display: none;
    }

    #slider {
        display: none;
    }

    #ChuDe {
        display: none;
    }

    .item {
        display: none;
    }
</style>



<style>
    .activity {
        display: none;
    }

    #slider {
        display: none;
    }

    #ChuDe {
        display: none;
    }

    .item {
        display: none;
    }
</style>
<style>
    table {
        border: 5px solid black;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<h1 style="text-align:center;color:#DC143C">Thông Tin Giỏ Hàng Của Bạn</h1>
<br />

<br />
<br />
<table>
    @foreach (var item in Model)
    {

        <tr>

            <td>@item.sTenSP</td>

            <td><img src="@Url.Content("~/HinhAnhSP/"+item.iAnh)" width="50" height="50" /></td>

            <td>@item.dGia</td>

            <td>@item.iSoLuong</td>

            <td>@item.dThanhTien</td>

        </tr>
    }

    <tr>
        <td colspan="7" style="text-align:right;color:mediumorchid">
            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHoang")
        </td>
    </tr>

    <tr>
        <td colspan="7" style="text-align:center; background-color:#696969">
            @Html.BeginForm("DatHang", "GioHang"){
            <button type="submit" style="margin-right:950px;margin-bottom:25px;background-color:crimson">Đặt Hàng</button>
            }
        </td>
    </tr>

</table>
